/* The Modal (background) */
.GNP-modal {
  font-family: 'Roboto', sans-serif;
  display: none; 
  position: fixed; 
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  max-height: 100%;
  background-color: rgb(0,46,113); 
  background-color: rgba(0, 46, 113, 0.7);
  -webkit-animation-name: fadeIn;
  -webkit-animation-duration: 0.4s;
  animation-name: fadeIn;
  animation-duration: 0.4s
}

/* Modal Content */
.GNP-modal-content {
  font-family: 'Roboto', sans-serif;
  position: fixed;
  bottom: 0;
  background-color: #fefefe;
  width: 100%;
  border-radius: 8px 8px 0px 0px;
  -webkit-animation-name: slideIn;
  -webkit-animation-duration: 0.4s;
  animation-name: slideIn;
  animation-duration: 0.4s
}

.GNP-modal-body {
  font-family: 'Roboto', sans-serif;
  padding: 2px 16px;
}

/* Add Animation */
@-webkit-keyframes slideIn {
  from {bottom: -300px; opacity: 0} 
  to {bottom: 0; opacity: 1}
}

@keyframes slideIn {
  from {bottom: -300px; opacity: 0}
  to {bottom: 0; opacity: 1}
}

@-webkit-keyframes fadeIn {
  from {opacity: 0} 
  to {opacity: 1}
}

@keyframes fadeIn {
  from {opacity: 0} 
  to {opacity: 1}
}


/* label color */
.input-field input[type]:not([readonly]),
.input-field input[type]:focus:not([readonly]),
.input-field textarea:not([readonly]),
.input-field textarea:focus:not([readonly]) {
  font-family: 'Roboto', sans-serif;
  border-bottom: 1px solid #AAC3EE;
  box-shadow: 0 1px 0 0 #AAC3EE;

}

.input-field label {
  font-family: 'Roboto', sans-serif;
  color: #0C2040 ;
  font-size: 16px;
  line-height: 24px;
}

label[for=inputelement]:active {
  font-family: 'Roboto', sans-serif;
  /*styles here*/
  color: #647085 ;
  font-size: 12px;
  line-height: 16px;
}

/* label focus color */
.input-field input:focus + label {
  font-family: 'Roboto', sans-serif;
  mix-blend-mode: normal;
  color: #647085 !important;
}




   /* label underline focus color */
.input-field input:focus{
  font-family: 'Roboto', sans-serif;
  border-bottom: 1px solid  #AAC3EE !important;
  box-shadow: 0 1px 0 0  #AAC3EE !important;
}

input.select-dropdown{
  font-family: 'Roboto', sans-serif;
  border-bottom: 1px solid  #AAC3EE !important;
  box-shadow: 0 1px 0 0  #AAC3EE !important;
}

.dropdown-content li>span{
  font-family: 'Roboto', sans-serif;
  color: #0C2040
}

/* valid color */
.input-field input[type=text].valid {
  font-family: 'Roboto', sans-serif;
  border-bottom: 1px solid #AAC3EE !important;
  box-shadow: 0 1px 0 0 #AAC3EE !important;
}
/* invalid color */
.input-field input[type=text].invalid {
  font-family: 'Roboto', sans-serif;
  border-bottom: 1px solid #AAC3EE !important;
  box-shadow: 0 1px 0 0 #AAC3EE !important;
}
/* icon prefix focus color */
.input-field .prefix.active {
  font-family: 'Roboto', sans-serif;
  color: #AAC3EE;
}

/* Buttons */
/* Button complete */
.btn-orange {
  font-family: 'Roboto', sans-serif;
  background-color:#FF6B0B;
  box-shadow: none;
  border-radius: 4px;
}

.btn-orange:hover {
  font-family: 'Roboto', sans-serif;
  background-color:#ff6d0bd7;
  box-shadow: none;
  border-radius: 4px;
}

.btn-orange:active {
  font-family: 'Roboto', sans-serif;
  background-color:#d65e0e;
  box-shadow: none;
  border-radius: 4px;
}

/* Button outlined */
.btn-orange-outlined {
  font-family: 'Roboto', sans-serif;
  border: 1px solid #FF6B0B;
  background-color: #ffffff;
  color: #FF6B0B;
  box-shadow: none;
  border-radius: 4px;
}

.btn-orange-outlined:hover {
  font-family: 'Roboto', sans-serif;
  border: 1px solid #FF6B0B;
  background-color: rgba(255, 109, 11, 0.329);
  color: #FF6B0B;
  box-shadow: none;
  border-radius: 4px;
}

/* All width of screen button */
.btn-full-width{
  width: 100%;
}

.label-single-color{
  font-family: 'Roboto', sans-serif;
  color: #647085 !important;
  font-size: 12px !important;
  line-height: 16px !important;
  mix-blend-mode: normal !important;
}
.line{
  margin: 10px;
}

.datepicker-date-display {
  background-color: #FC6C25;
}

.datepicker-day-button:focus {
  color: white !important;
  background-color: #a2b0b6
}

.datepicker-done,
.datepicker-cancel,
/* .select-dropdown li>span, */
.is-today {
  color: #FC6C25 !important;
}

td.is-selected,
.month-prev:active,
.month-prev:focus,
.month-next:active,
.month-next:focus {
  background-color: #FC6C25 !important;
}

td.is-selected.is-today {
  color: white !important
}